@charset "UTF-8";

:root {
    --primary-green: #10b981;
    --light-green: #d1fae5;
    --dark-green: #047857;
    --light-gray: #f8fafc;
    --medium-gray: #64748b;
    --gray-900: #212529;
    --label-color: #666666;
    --dark-gray: #334155;
    --white: #ffffff;
    --error-red: #ef4444;
    --focus-blue: #3b82f6;
    --border-radius: 8px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
	--font-family: "Sofia Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: var(--font-family);
}

#header-menu {
    box-sizing: border-box;
    height: 80px;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B7D8C3;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 60px;
    padding-top: 3px;
}

#menu-admin {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.3rem;
}

#menu-admin a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

a {
    color: black !important;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #659B71;
}

.rounded-circle {
	border: 1px solid rgba(192, 192, 192, 0.15);
}

.foto-perfil {
	margin-top: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: 95%;
    padding-bottom: 1px;
    padding-top: 5px;
    min-width: 230px;
}

.dropdown-item {
    width: 95%;
    text-align: center;
    gap: 0.01rem;
}

.nav-item {
    position: relative;
}

.dropdown-item:hover {
    padding-right: 30px;
    background-color: #B7D8C3;
    color: black;
    text-align: center;
}

#sair:hover{
	background-color: red;
	color: white !important;
	font-weight: bolder;
}

#btn-mobile {
    display: none;
}

@media (max-width: 800px) {
    #btn-mobile {
        display: flex;
        /*Para dar visibilidade em telas menores*/
        padding: 0.5rem 0.13rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color: black;
        font-weight: bolder;
    }

    #menu-admin {
        display: none;
        /* Oculta o menu até que o botão seja clicado */
        position: absolute;
        width: 100%;
        top: 75px;
        right: 0px;
        background-color: white;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu-admin {
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu-admin a {
        padding: 1rem 0;
        /*margin: 0 1rem;*/
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        padding-left: 10px;
        margin: 5px;
        width: calc(100% - 15px);
    }

    #hamburger {
        border-top: 2px solid;
        width: 25px;
        margin-top: 3px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

.form-section {
      background: #f8f9fa;
      padding: 30px;
      border-radius: 10px;
      margin-top: 20px;
    }   
    .product-image-preview {
	  max-width: 100%;
	  max-height: 200px;
	  width: 100%;
	  height: auto;
	  border: 2px dashed #4CAF50;
	  border-radius: 10px;
	  display: none;
	}
    .btn-success {
      background-color: #388E3C;
      border-color: #388E3C;
    }
    .btn-success:hover {
      background-color: #2E7D32;
      border-color: #2E7D32;
    }
	.image-wrapper {
	  position: relative;
	  display: inline-block;
	  max-width: 200px;
	}

	.btn-secondary{
		background-color: #6c757d !important;
		color: #fff !important;
	}

	.btn-close:hover{
		background-color: red;
	}
.icon{
   width: 40px;
   height: 40px;
}

.icon .person {
  fill: #4CAF50; /* verde para o boneco */
}

.icon .door {
  fill: red; /* azul para a porta */
}

.col-md-8{
	margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    width: 32px;
    height: 32px;
}

.text-logo-preto {
    color: var(--gray-900);
    font-weight: bold;
    font-size: 1.8rem;
}

.text-logo-branco {
    color: var(--gray-300);
    font-weight: bold;
    font-size: 1.25rem;
}

.text-logo-verde {
    color: var(--primary-green);
}

.log{
	text-decoration: none;
}

.log:hover{
	background-color: transparent !important;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre ícone e texto */
}