@charset "UTF-8";

.form-section {
    background: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.product-image-preview {
    max-width: 200px;
    max-height: 200px;
    border: 2px dashed #4CAF50;
    border-radius: 10px;
    display: none;
}

.btn-success {
    background-color: #388E3C;
    border-color: #388E3C;
}

.btn-success:hover {
    background-color: #2E7D32;
    border-color: #2E7D32;
}

.icon{
   width: 40px;
   height: 40px;
}

.icon .person {
  fill: #4CAF50; /* verde para o boneco */
}

.icon .door {
  fill: red; /* azul para a porta */
}

.col-md-8{
	margin-bottom: 30px;
}

/* ===== Tooltip elegante e moderno ===== */
.tooltip-elegante .tooltip-inner {
  background-color: #212529; /* fundo escuro */
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.tooltip-elegante .tooltip-arrow::before {
  border-top-color: #212529 !important;
}

/* Efeito de fade mais suave */
.tooltip.fade.show {
  opacity: 1;
  transform: scale(1);
}

.tooltip.fade {
  opacity: 0;
  transform: scale(0.95);
}